@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<h3>Mission Statement:</h3>
<p>
    To assist individuals and families with long-term recovery following a natural or man-made disaster by determining their unmet needs through a case management program and working to obtain the resources necessary to meet those needs while avoiding duplication of services.
</p>
