@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>


<div class="=container">
    
    <div class="row">
        <div class="col-md-6">
            <h3>Mission Statement:</h3>
            <p>
                To assist individuals and families with long-term recovery following a natural or man-made disaster by determining their unmet needs through a case management program and working to obtain the resources necessary to meet those needs while avoiding duplication of services.
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <h3>Bios:</h3>
        <div class="row">
            <div class="col-md-6 bio text-center">
                <img src="https://picsum.photos/600/900" class="center-block img-responsive" style="max-width:150px;" />
                <b>Wayne McDaniel</b>
                <div class="center-block" style="max-width:200px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. llus sed augue semper porta. Mauris massa. <br /><br />
                </div>
                <br />
            </div>
            <div class="col-md-6 bio text-center">
                <img src="https://picsum.photos/600/900" class="center-block img-responsive" style="max-width:150px;" />
                <b>Michelle Brewer</b>
                <div class="center-block" style="max-width:200px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Nulla quis sem at nibh elementum imperdiet. llus sed augue semper porta. Mauris massa. <br /><br />
                </div>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 bio text-center">
                <img src="https://picsum.photos/600/900" class="center-block img-responsive" style="max-width:150px;" />
                <b>Aaron Tupper</b>
                <div class="center-block" style="max-width:200px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. llus sed augue semper porta. Mauris massa.<br /><br />

                </div>
                <br />
            </div>

            <div class="col-md-6 bio text-center">
                <img src="https://picsum.photos/600/900" class="center-block img-responsive" style="max-width:150px;" />
                <b>Rev. Aurthur C Smith</b>
                <div class="center-block" style="max-width:200px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. llus sed augue semper porta. Mauris massa. <br /><br />
                </div>
                <br />
            </div>
        </div>
        </div>
    </div>