@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Hardin Strong<br />
    300 W Monroe St<br />
    Kountze, TX 77625<br />
    <abbr title="Phone">P:</abbr>
    409-209-5400
</address>
<br />

<div style="width: 200px;">
    <a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/hardincountystrong">
        <span class="fab fa-facebook-f"></span> Like us on Facebook
    </a>
</div>
<br />
<address>
    <strong>Email:</strong> <a href="mailto:Admin@HardinCountyStrong.org">Admin@HardinCountyStrong.org</a>
</address>
