@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
*@


<img class="centered-and-cropped" height="300" width="1200" src="~/images/stock house.jpg">


<div class="row">
    <div class="col-md-12">
        <h3>Hardin County Strong - RECOVERY PLAN</h3>
        <p>
            Hardin County families affected by Harvey are counting on all of us as a community, especially looking toward Hardin County Strong for leadership and guidance through their circumstances, including rebuild, unmet needs, emotional/spiritual support and more. Hardin County Strong is committed to the recovery effort for the long haul. The leadership of our long term recovery team will be strengthened through collaborative partnerships with other volunteer and faith-based organizations along with guidance from recovery pioneers, in an effort to make great things happen for our county and to meet this important commitment.
            Our team is focused on the following goals:
            <ul>
                <li>	Working with case management to understand the immediate needs of Harvey-impacted households in Hardin County</li>
                <li>	Working with local volunteer and faith-based organizations to assess their capacity for long-term recovery work</li>
                <li>	Mobilize volunteers from inside and outside of our county/state to assist </li>
                <li>	Identifying funding and material resources to support repair and rebuilding</li>
                <li>	Rehabilitate and repair damaged houses, with a focus on resilience to help homes withstand future disasters;</li>
                <li>	Engage in collaborative partnerships with non-profit and for profit organizations with the goal of working together to renew our impacted communities</li>
                <li>	Provide emotional support and spiritual care to individuals and families whose lives have been changed due to disaster</li>
                <li>	Promote a message of hope throughout our county and communities, especially those directly impacted by disaster</li>
                <li>	Dedicate our effort to rebuilding a strong and more resilient community</li>
            </ul>
            Hardin County Strong is fully committed to all of the goals outlined above as well as a philosophy and set of practices that will help enrich the lives of the individuals and families we serve.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <i>
                Tropical Storm
                <a href="https://www.facebook.com/hashtag/harvey?source=feed_text&story_id=1416849635101457">Harvey</a>
                left a path of destruction across Hardin County leaving thousands of families with flooded homes. Many of these families have flooded for the 2nd or 3rd time in less than 3 years. Nearly 5,000 households flooded. Approximately 2,000 of those are determined to have received major damage or were destroyed. Less than 18% of our impacted community carried flood insurance coverage. Hardin County Strong was formed to help Hardin County families rebuild their homes and address other unmet needs with regard to disaster. Hardin County Strong wants to see these families recover physically, emotionally and financially. With this in mind, Hardin County Strong seeks out individuals and organizations who can assist with money, manpower and materials, and through case management, will identify the households that need this vital help the most. Along with assisting families with repairs from Hurricane Harvey, our team is assisting with readiness plans. Education and preparation of neighborhoods and families is a primary goal for HCS. HCS have a thriving spiritual care team who is assisting affected individuals and families with appropriate and respectful emotional support following the life changing events of disaster. Hardin County is a small, underserved county in the TOP 10 most impacted, presidentially declared counties in Texas.
            </i>
        </p>
    </div>
</div>
